@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse-slow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.animate-fade-in {
    animation: fade-in 1s ease-out;
}

.animate-pulse-slow {
    animation: pulse-slow 2s infinite;
}

.group:hover .group-hover\:brightness-75 {
    brightness: 75%;
}